body {
  background-color: rgb(0, 0, 0);
}

.box-container {
  height: 470px;
  width: 500px;
}
.calculatorBox {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100px 100px 100px;
  padding: 40px;
  border-radius: 20px;
  background-image: url(resources/square2.png);
  background-size: 100% 100%;
  border: outset 8px rgba(0, 0, 255, 0.822);
}
.box {
  background-color: rgb(86, 86, 158);
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  background-image: url(resources/square.png);
  background-size: 100% 100%;
}
.box:hover {
  background-image: url(resources/square.png);
  filter: brightness(1.75);
}
.boxResult {
  background-color: rgb(173, 173, 173);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 75px;
  width: 394px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  border: 2px solid blue;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.plus {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.null {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.divide {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.times {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.minus {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
.two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.three {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.five {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.six {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.seven {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.eight {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.nine {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.reset {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.equal {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}
.dot {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
.del {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.erase {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
